terraform.tfvars
__pycache__/
*.pyc
.DS_Store
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.vscode/
finance.db
.venv/
venv/

__pycache__/
*.pyc
.venv/
venv/
app-logs.txt
deployment-success-logs.txt
